@font-face{
  font-family: friz;
  src:url(FRQ55.otf);
}
body{

  background: tomato;
  background-image:url(Images/combined.png);
  background-repeat:no-repeat;
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  background-position: left bottom;
  font-size:20px;
  margin:0;
  overflow:hidden;
  font-family: 'friz';
  height: 100vh;
}
header{
  height:25vh;
  width:100vw;
}
.headerimage{
  height:18%;
  margin:auto;
  vertical-align: middle;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height:80%;
  width:70%;
  background-image: url(images/leaguebanner.png);
  background-position:center;
  background-size: 80% 100%;
  background-repeat:no-repeat;
}
.statsdiv{
  font-size: 40%;
  display:flex;
  justify-content: space-between;
  width: 75%;
  height: 20%;
  color:white;
  margin-top: 
}
.statsdivbox{
  display: flex;
  width: 25%;
  vertical-align: middle;
  margin: auto;
}
.box{
  vertical-align: middle;
  margin: 0 5%;
}
.restcontainer{
  display:flex;
  height:50vh;
  width: 100vw;
}
aside{
  width:25%;
  border-radius:8px;
  height:75vh;
  display:flex;
  flex-wrap:wrap;
}
.paradiv{
  height:10vh;
  width:100%;
  border: 4px solid white;
  border-radius:8px;
}
.statbox{
  border:4px solid black;
  border-radius:8px;
  height:9vh;
  width:100%;
  margin: 0;
}
.main{
  width:50%;
  display: flex;
  flex-wrap: wrap;
  height:100%;
  border-radius:8px;
  vertical-align:middle;
  justify-content:space-evenly;
}
.sider{
  float:left;
  width: 25%;
  height: 75vw;
  border-radius:8px;
}

.container{
  width:100%;
  height:100%;
  border:4px dashed white;
  border-radius:8px;
  display:flex;
  flex-wrap: wrap;
}

.carddiv{
  position:relative;
  height: 35%;
  width: 17%;
  border-radius:10px;
  margin: 2px 0;
  float:left;
}
.carddiv:hover{
  transform: scale(1.1);
}
.cardback{
  z-index: 2;
}
.cardfront{
  z-index:1;
  background-image:url(images/newleaguecard.jpg);
}
.cardfront,
.cardback{
  border-radius:8px;
  height: 100%;
  width: 100%;
  background-size:contain;
  background-repeat:no-repeat;
  background-position:center;
  position:absolute;
}
.hidden{
  display:none;
}
.darius{
  background-image: url(Images/Darius.png);
}
.heimerdinger{
  background-image: url(Images/Heimerdinger.png);
}
.illaoi{
  background-image: url(Images/Illaoi.png);
}
.kayn{
  background-image: url(Images/Kayn.png);
}
.malphite{
  background-image: url(Images/Malphite.png);
}
.mordekaiser{
  background-image: url(Images/mordekaiser.png);
}
.nasus{
  background-image: url(Images/Malphite.png);
}
.riven{
  background-image: url(Images/Malphite.png);
}
.ziggs{
  background-image:url(Images/Ziggs.png);
}
.veigar{
  background-image:url(Images/Veigar.png);
}
.vi{
  background-image:url(Images/Vi.png);
}
.tryndamere{
  background-image:url(Images/Tryndamere.png);
}
.hide{
  visibility: hidden;
}
